nav {
    margin-top: 8px;
}
ul {
    position: fixed; width: 100%;
    height: 100vh; background: #2c3e50;
    top: 80px; left: -100%;
    text-align: center; transition: all 0.5s;
}

nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.05rem;
    padding-bottom: 4px;
}
nav a:hover, nav .active {
    border-bottom: 2px solid #ffd600;
}